/*

Form Create Profile

*/

#createCompanyAccountContainer {
  width: 100%;
}

#createCompanyAccount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
  padding: 25px;
}

.createCompanyAccountTitle {
  margin: auto;
  width: 280px;
  font-size: 2em;
  margin-top: 70px;
}



/*

Form Login Profile

*/


.jobsSection {
    width: 300px;
    height: 400px;
    background-color: rgb(203, 203, 203);
    margin: 20px auto;
  }

  .jobBox {
    width: 280px;
    margin: auto;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
  }

  #myHome {
    width: 300px;
    height: 400px;
    background-color: gainsboro;
  }


  .jobTitleContainer {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
  }

  .jobTitle {
    font-size: 1.6em;
  }

  .companyName {
    font-weight: lighter;
  }

  .jobInfoList {
    list-style: none;
    text-align: left;
    font-size: 0.8em;
  }

  .jobInfoList li {
    margin: 10px;
    font-weight: bold;
  }

  .companyDescription {
    width: 100%;
    height: 60px;
  }



  /*
  
  --------------------- Company Profile -------------------
  
  */

  #container1 {
    display: flex;
    flex-direction: column;
  }

  #container1 #insertPicture {
    width: 150px;
    height: 150px;
    background-color: rgb(98, 98, 98);
    border-radius: 50%;
  }

  #container1 #companyPicture {
    display: none;
  }


  .companyProfilePicture {
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url('/public/images/person.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-bottom: 50px;
}

  #companyProfileInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px 20px;
    text-align: left;
  }

  #companyProfileInfo h1 {
    text-align: center;
  }

  #companyData {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  #companyData input {
    border: none;
    border-bottom: 1px solid rgb(161, 161, 161);
    width: 100%;
    outline: none;
  }

  #companyData input:focus {
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 100%;
    font-weight: bold;
  }

  #companyData input::placeholder {
    color: black;
  }

  #companyData button {
    background-color: rgb(41, 57, 107);
  }

  #companyProfileInfo hr {
    width: 80%;
    margin: 15px auto;
  }
  
  #companyProfileInfo legend {
  text-align: left;
  }
  
  #createCompanyAccount input {
    width: 100%;
  }
  
  #categoryContainer {
    width: 100%;
  }
  
  #companyDescription {
    padding: 10px;
  }
  
  #createAdContainer {
    display: none;
  }
  
  #createAdContainer.active {
    display: block;
  }
  
  #jobSalary {
    margin-bottom: 50px;
  }
  
  #createJobs {
  display: none;
  gap: 10px;
  margin: 70px 0px;
  padding: 10px;
  }

  #createAd label {
    margin: 10px 0px 0px 0px;
  }

  #cancelCreateAd {
    width: 50px;
    position: absolute;
    right: 20px;
  }

  #myPostedJobs {
    display: none;
  }

  #appliers {
    display: none;
  }

  #logoutCompany {
    font-size: 1.4em;
    font-weight: bold; 
    background-color: white; 
  }

  @media screen and (min-width: 800px) {

    #companyProfileInfo {
        width: 650px;
        margin: auto;
        padding: 100px 25px;
    }

    #createJobs {
        width: 650px;
        margin: auto;
        padding: 100px 25px;
    }
}
  

@media screen and (min-width: 1000px) {

  #createJobs {
      width: 980px;
      margin: auto;
      padding: 100px 0px;
  }

  #container1 {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 45px;
    justify-content: center;
    align-items: center;
  }

  #container1 #insertPicture {
    width: 150px;
    height: 150px;
    background-color: rgb(83, 83, 83);
    border-radius: 50%;
  }

  #container1 #companyPicture {
    visibility: hidden;
  }
  
  .companyBasicInfo {
    width: 800px;
  }
}


