#CompanyChatBox {
    display: none;
    justify-content: center;
    align-items: center;
}

#CompanyChatBox a {
    text-decoration: underline;
    padding: 5px;
    pointer-events: auto;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 10px;
}

#messsagesTitle {
    text-align: left;
    margin: 30px;
}

#conversationsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

.message {
    width: 320px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    z-index: 2;
}

.messageCandidate {
    margin: 10px 0px 0px 10px;
}

.messageJobTitle {
    margin-left: 10px;
    font-size: 0.8em;
    font-weight: 600;
    font-style: italic;
}

.messageContent {
    text-align: justify;
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

.messageDetails {
    text-align: justify;
    padding: 0px 20px;
    font-size: 0.8em;
}

#showPhoto {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Fundo semi-transparente */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 10; /* Garantir que está acima dos outros elementos */
    pointer-events: auto; /* Permitir interações dentro do showPhoto */
}

.no-backdrop-filter #showPhoto {
    background-color: rgba(0, 0, 0, 0.85); /* Fundo mais escuro para fallback */
}

#showPhoto img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 10px 10px 50px black;
    z-index: 15; /* Garantir que está acima do fundo semi-transparente */
}

@media screen and (min-width: 600px) {
    #conversationsContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        align-items: center;
        padding: 30px 0px;
    }

    .message {
        width: 320px;
        
    }
}