.postedJobTitle {
    margin-top: 120px;
}

#postedJobContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
}

.postedJob {
    border: 1px solid rgba(0, 0, 0, 0.452);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.363);
    width: 320px;
}

.postedJob h1 {
    font-size: 1.2em;
    margin: 20px;
}

#deleteButton {
    margin-top: 15px;
}

.confirmationDialog {
    background-color: black;
    color: white;
    width: 100%;
    height: 150px;
    padding: 10px;
    position: fixed;
    bottom: 0;
}

.confirmationDialog button {
    width: 30%;
    margin: 5px;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form div {
    display: flex;
    flex-direction: column;
}

form #jobSalary {
    margin-bottom: 0px;
}

form #jobsType {
    display: flex;
    flex-direction: column;
}

#editJob.active {
    display: flex;
}


@media screen and (min-width: 800px) {

    #postedJobContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
        padding: 15px;
        margin-top: 50px;
    }

    .postedJob {
        width: 400px;
    }
}