#changeCompanyPassword {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#changeCompanyPassword h1 {
    font-size: 1.63em;
    margin: 15px;
}

#validateEmail {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
}

#createNewPassword {
    width: 80%;
    display: none;
    flex-direction: column;
    gap: 5px;
}

a:hover {
   color: black; 
}