h1 {
    margin-top: 70px;
}

.jobDetails {
    border: 1px solid black;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 25px;
}

.jobDetails div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.jobDetails p {
    display: flex;
    justify-content: center;
    align-items: center;
}

#warningMessage {
    display: none;
    color: red;
}

#warningMessage.active {
    display: block;
}

#jobApply form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 10px;
    margin-bottom: 50px;
}

#jobApply form button {
    background-color: rgb(41, 57, 107);
}