#jobDetails {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 15px;
}

#jobDetails .title {
    font-size: 2em;
    margin: 5px 0px 5px 0px;
    text-align: center;
}

#jobDetailsHeader {
    border: 1px solid black;
    margin: 25px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

#jobDetailsHeader .material-symbols-outlined {
    font-size: 1em;
}


#jobDetails > a .material-symbols-outlined {
    font-size: 0.8em;
    font-weight: lighter;
    margin-top: 75px;
    margin-bottom: 75px;
}

#jobDetails img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 35px;
}

ul {
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jobDescription {
    width: 250px;
    text-align: justify;
    margin-bottom: 20px;
}

#detailsComplement {
    margin: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 15px;
    font-size: 1em;
}

#detailsComplement h4 {
    margin-bottom: 10px;
}

#detailsComplement p {
    margin: 0px;
}

a {
    color: black;
}

#detailsComplement button {
    background-color: rgb(41, 57, 107);
}